@import "./index.css";
@import "./assets/css/fonts.css";
@import "./assets/css/icons.css";

body {
  font-family: "IBM Plex Sans", sans-serif;
}

button {
  border: none;
}

.content-wrapper {
  max-width: 1280px;
  margin: 0 auto;
}

img {
  border-radius: 5px;
  object-fit: cover;
}

.main-top {
  background-color: white;
}

header {
  border-bottom: 1px solid lightgrey;
  padding: 8px 0;
  img {
    height: 40px;
  }
}
header,
.restaurant {
  background: white;
}

h1 {
  font-size: 32px;
  font-weight: bold;
  padding: 10px 0;
}
h2 {
  font-size: 24px;
  font-weight: bold;
  padding: 8px 0;
}
h3 {
  font-size: 19px;
}

p {
  color: #868a8a;
}

.restaurant {
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  .resto-infos-wrapper {
    display: flex;
    flex-direction: column;
  }
  p {
    font-size: 19px;
  }
  img {
    width: 350px;
  }
}

main {
  background-color: #f3f5f5;
  .content-wrapper {
    // border: 1px solid green;
    display: flex;
    justify-content: space-between;
  }
}

.cart-wrapper {
  flex: 1;
  .cart {
    background-color: white;
    box-shadow: 0 22px 24px 0 rgba(46, 51, 51, 0.07);
    width: 330px;
    min-height: 160px;
    // border: 1px solid red;
    margin: 20px auto;
    padding: 5px;
    > button {
      width: 300px;
      height: 50px;
      padding: 16px;
      margin: 10px;
      border-radius: 5px;
    }
    .cart-button-enabled {
      color: white;
      background-color: green;
    }
    .cart-content {
      padding: 10px;
      .cart-item {
        padding: 5px 0;
        display: flex;
        justify-content: space-between;
        > div:nth-child(2) {
          flex: 1;
        }
      }
      .sub-total > div,
      .total {
        padding-top: 10px;
        display: flex;
        justify-content: space-between;
      }
      .sub-total,
      .total {
        margin-top: 10px;
        border-top: 1px solid grey;
      }
      .total {
        font-weight: bold;
      }
    }
  }
}

.category-wrapper {
  padding: 10px 0 10px 0;
  width: 100%;
  max-width: 835px;
  // border: 1px solid blue;
}

.meals-list {
  // align-items: stretch;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
  > :hover {
    box-shadow: 0 22px 24px 0 rgba(46, 51, 51, 0.07);
  }
}

.meal-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 5px;
  max-width: 400px;
  max-height: 160px;
  padding: 10px;
  width: 50%;
  background-color: white;
  border-radius: 5px;
  img {
    height: 130px;
    width: 130px;
  }
  .meal-infos {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    gap: 5px;
    p {
      overflow: hidden;

      margin-bottom: 1rem;
    }
    .meal-price {
      display: flex;
      gap: 15px;
      align-items: center;
      span:first-child {
        font-size: 18px;
        color: #868a8a;
      }
      .popularity {
        font-size: 13px;
        color: orange;
      }
    }
  }
}

@media (max-width: 1280px) {
  .content-wrapper {
    padding: 0 20px;
  }
}
